@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .button-universal {
    padding: 15px 54px;
    font-size: 17px;
  }
  .subtitle {
    font-size: 37px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
  }
  .banner__main-title {
    max-width: 460px;
  }
  .banner__main-title--style {
    color: #000000;
    font-weight: 800;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 62px;
    letter-spacing: 2px;
  }
  .banner__text {
    max-width: 415px;
    margin: 25px 0 35px 0;
  }
  .banner__col-right {
    padding-left: 27px;
  }
  .banner__iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 100%;
  }
  .banner__iframe--style {
    width: 100%;
    min-height: 258px;
  }
  .services .section-1 {
    max-width: 438px;
  }
  .services .section-1__text {
    margin: 45px 0 57px;
  }
  .services .section-2 {
    padding-left: 10px;
    -webkit-column-gap: 46px;
            column-gap: 46px;
    row-gap: 40px;
  }
  .services .section-2__item {
    width: calc(50% - 23px);
  }
  .services .section-2__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
  }
  .services .section-2__title {
    margin: 22px 0 22px;
  }
  .services .section-2__title--identic {
    font-size: 24px;
  }
  .channel__blocks--square {
    height: 234px;
  }
  .team__section-2 {
    padding-left: 51px;
  }
  .team__main {
    height: 384px;
  }
  .team__line-up--header {
    margin-bottom: 30px;
  }
  .team__line-up--menu {
    margin-bottom: 50px;
  }
  .team__line-up--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
  .team__line-up--images div {
    width: calc(25% - 12px);
    gap: 12px;
    height: 160px;
  }
  .contact__section-2 {
    padding-left: 85px;
  }
  .contact__section-2--address {
    padding: 120px 10px 120px 65px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .button-universal {
    padding: 14px 50px;
    font-size: 16px;
  }
  .subtitle {
    font-size: 37px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
  }
  .banner__main-title {
    max-width: 450px;
  }
  .banner__main-title--style {
    color: #000000;
    font-weight: 800;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 62px;
    letter-spacing: 1px;
  }
  .banner__text {
    max-width: 421px;
    margin: 25px 60px 35px 0;
  }
  .services .section-1 {
    max-width: 438px;
  }
  .services .section-1__text {
    margin: 48px 0 57px;
  }
  .services .section-2 {
    padding-left: 5px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 36px;
  }
  .services .section-2__item {
    width: calc(50% - 20px);
  }
  .services .section-2__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
  }
  .services .section-2__title {
    margin: 22px 0 22px;
  }
  .services .section-2__title--identic {
    font-size: 22px;
  }
  .channel__blocks--square {
    height: 226px;
  }
  .channel__menu-list li {
    margin: 0 25px;
  }
  .channel__menu-list li:first-child {
    margin-left: 0;
  }
  .channel__menu-list li:last-child {
    margin-right: 0;
  }
  .team__section-2 {
    padding-left: 45px;
  }
  .team__line-up--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .team__line-up--images div {
    width: 25%;
    height: 160px;
  }
  .contact__section-2 {
    padding-left: 80px;
  }
  .contact__section-2--address {
    padding: 115px 0 115px 60px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
  .button-universal {
    padding: 18px 60px;
    font-size: 18px;
  }
  .subtitle {
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0;
  }
  .banner__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner__col-left {
    width: 100%;
    margin-bottom: 90px;
  }
  .banner__col-right {
    width: 100%;
  }
  .banner__main-title {
    max-width: 100%;
  }
  .banner__main-title--style {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 4px;
  }
  .banner__text {
    max-width: 100%;
    margin: 30px 0 40px 0;
  }
  .banner__col-right {
    padding-left: 0;
  }
  .banner__iframe {
    min-height: 100%;
  }
  .banner__iframe--style {
    width: 100%;
    height: 414px;
  }
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .section-1 {
    max-width: 100%;
    margin-bottom: 100px;
  }
  .services .section-1__text {
    margin: 48px 0 57px;
  }
  .services .section-2 {
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 45px;
  }
  .services .section-2__item {
    width: calc(50% - 25px);
  }
  .services .section-2__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .services .section-2__title {
    margin: 25px 0 24px;
  }
  .services .section-2__title--identic {
    font-size: 25px;
  }
  .channel__blocks--square {
    height: 170px;
  }
  .channel__menu-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .channel__menu-list li {
    margin: 0 15px;
  }
  .channel__menu-list li:first-child {
    margin-left: 0;
  }
  .channel__menu-list li:last-child {
    margin-right: 0;
  }
  .channel__menu-list--link {
    font-size: 20px;
  }
  .team__section-1 {
    width: 100%;
  }
  .team__section-2 {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
  }
  .team__main {
    height: 350px;
  }
  .team__line-up--header {
    margin-bottom: 36px;
  }
  .team__line-up--menu {
    margin-bottom: 56px;
  }
  .team__line-up--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
  .team__line-up--images div {
    width: calc(25% - 12px);
    height: 180px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .header__menu-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner__main-title {
    max-width: 100%;
  }
  .banner__main-title--style {
    font-size: 54px;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 4px;
  }
  .banner__iframe {
    min-height: 100%;
  }
  .banner__iframe--style {
    width: 100%;
    height: 307px;
  }
  .channel__blocks {
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
  }
  .channel__blocks--square {
    height: 258px;
    width: calc(50% - 15px);
  }
  .channel__menu-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .channel__menu-list li {
    margin: 0 0;
  }
  .channel__menu-list--link {
    font-size: 18px;
    padding: 0 0;
  }
  .channel__menu-list li:nth-of-type(1) {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .channel__menu-list li:nth-of-type(1) a {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .team__section-1 {
    width: 100%;
  }
  .team__section-2 {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
  }
  .team__main {
    height: 330px;
  }
  .team__line-up--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    row-gap: 30px;
  }
  .team__line-up--images div {
    width: calc(50% - 20px);
    height: 255px;
  }
  .footer__copy {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: end;
    padding-top: 10px;
  }
  .footer__social-networks {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: end;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
  }
  .button-universal {
    padding: 16px 60px;
    font-size: 18px;
  }
  .subtitle {
    font-size: 28px;
    line-height: 35px;
  }
  .header {
    display: none;
  }
  .banner__col-left {
    margin-bottom: 60px;
  }
  .banner__main-title {
    max-width: 100%;
  }
  .banner__main-title--style {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
  }
  .banner__text {
    max-width: 100%;
    margin: 30px 0 40px 0;
  }
  .banner__button--link {
    width: 100%;
    text-align: center;
  }
  .banner__col-right {
    padding-left: 0;
  }
  .banner__iframe {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
  }
  .banner__iframe--style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .services {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .services .section-1 {
    margin-bottom: 80px;
  }
  .services .section-1__button--link {
    width: 100%;
    text-align: center;
  }
  .services .section-2 {
    row-gap: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .section-2__item {
    width: 100%;
  }
  .services .section-2__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
  }
  .services .section-2__title {
    margin: 25px 0 24px;
  }
  .services .section-2__title--identic {
    font-size: 23px;
  }
  .channel__blocks {
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .channel__blocks--square {
    height: auto;
    width: calc(50% - 5px);
  }
  .channel__blocks--square img {
    max-width: 100%;
    background-color: #000000;
  }
  .channel__menu-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .channel__menu-list--link {
    font-size: 11px;
    padding: 0 0;
  }
  .channel__menu-list li:nth-of-type(1) {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .channel__menu-list li:nth-of-type(1) a {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .team__section-1 {
    width: 100%;
  }
  .team__section-2 {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
  }
  .team__main {
    height: auto;
  }
  .team__main--image {
    height: auto;
  }
  .team__main--image img {
    max-width: 100%;
  }
  .team__line-up--images {
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
    height: auto;
  }
  .team__line-up--images div {
    width: calc(50% - 8px);
    height: auto;
  }
  .team__line-up--images div img {
    height: 100%;
    max-width: 100%;
  }
  .team__line-up--images div:hover p {
    padding: 1px 0;
    font-size: 13px;
  }
  .team__line-up--menu {
    margin-bottom: 58px;
  }
  .team__line-up--menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .team__line-up--menu-ul li {
    width: calc(50% - 10px);
    font-style: italic;
    font-size: 18px;
    margin-right: 0;
  }
  .team__line-up--menu-ul li a {
    color: #333333;
  }
  .team__line-up--menu-ul li a:hover {
    -webkit-transition: color .3s;
    transition: color .3s;
    color: #ff2d2d;
  }
  .team__line-up--menu-ul li:nth-of-type(even) {
    margin-right: 0;
  }
  .footer__copy {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: end;
    padding-top: 10px;
    font-size: 12px;
  }
}
