@import "_reset.scss";

// переменные
$container-width:1280px;
$break-point-1:1280px;
$break-point-2:1024px;
$break-point-3:992px;
$break-point-4:767px;
$break-point-5:576px;
$point-container-1:1024px;
$point-container-2:992px;
$point-container-3:767px;
$point-container-4:576px;
$point-container-5:none;

$background-header: #f6f2f2;
$background-header-menu: #313030;
$background-banner: #f6f2f2;
$background-services: #fff;
$background-channel: #fff;
$background-team: #fff;
$background-image-subscribe: url("./../assets/images/section-subscribe/14-min.jpg");
$background-contact: #fff;
$background-footer: #313030;
$background-line-up-team:#f5f0dd;
$background-contact-info:#2d2d2d;

$hover-menu: #ff3f40;
$hover-color: #ff2d2d;
$hover-line-up:#7a786e;
$active-color:rgb(94, 87, 87);
$focus-color:1px solid #7fbed5;
$placeholder-color:#444444;

$h1-color:#000;
$subtitle-color:#333333;
$sub-sub-title-color:#333333;
$menu-text-color:#e0e0e0;
$color-text-contact-info:#d5d5d5;
$color-channel-menu:#4c4c4c;
$copy-footer:#b8b8b8;

$iframe-shadow:-2px -14px 73px 0px rgba(0, 0, 0, 0.28);
$shadow-form: 0 0 18px -1px rgba(176, 225, 245, 0.93);

$main-font:'Open Sans', sans-serif;
$main-color:#4c4c4c;
$button-fz:18px;
$transition: .3s;

.wrapper {
  font-family: $main-font;
  font-size: 16px;
  color: $main-color;
  font-weight: 400;
  line-height: 28px;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.button-universal {
  padding: 18px 60px;
  border-radius: 7px;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: $button-fz;
  font-weight: bold;
  border: 2px solid;
}

.subtitle {
  color: $subtitle-color;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1px;
}


// Header ------------------
.header {
  padding-top: 30px;
  background-color: $background-header;

  &__menu-wrapper {
    background-color: $background-header-menu;
  }

  &__menu-list {
    display: flex;
    justify-content: center;

    &--link {
      color: $menu-text-color;
      display: inline-block;
      text-transform: uppercase;
      padding: 45px 25px 35px;
      font-weight: bold;
      letter-spacing: 0.035em;

      &:hover {
        transition: background-color $transition;
        background-color: $hover-menu;
      }
    }
  }
}


// Banner -------------------
.banner {
  background-color: $background-banner;
  padding: 100px 0 110px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: bottom;
  }

  &__col-left {
    flex: 0 1 50%;
    flex-wrap: wrap;
  }

  &__col-right {
    flex: 0 1 50%;
    padding-left: 40px;
  }

  &__main-title {
    max-width: 590px;
    &--style {
      color: $h1-color;
      font-weight: 800;
      font-size: 60px;
      text-transform: uppercase;
      line-height: 62px;
      letter-spacing: 3px;
    }
  }

  &__text {
    max-width: 520px;
    margin: 24px 0 34px 0;
  }

  &__button--link {
    background-color: $hover-color;
    color: #ffffff;
    border-color: $hover-color;

    &:hover {
      background-color: #fff;
      border-color: $hover-color;
      color: $hover-color;
    }
  }

  &__iframe {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
    

    &--style {
      box-shadow: $iframe-shadow;
      width: 100%;
      min-height: 330px;
    }
  }
}


// Services ------------------
.services {
  background-color: $background-services;
  padding: 110px 0 0 0;
  

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 110px;
    position: relative;

    &::after {
      content: " ";
      display: block;
      height: 2px;
      background-color: #ececec;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .section-1 {
    flex: 0 1 50%;
    max-width: 520px;

    &__text {

      margin: 45px 0 55px;

      &--simple {
        color: #000;
      }
    }

    &__button {


      &--link {
        background-color: #fff;
        border-color: $hover-color;
        color: $hover-color;

        &:hover {
          background-color: $hover-color;
          color: #ffffff;
          border-color: $hover-color;
        }
      }
    }
  }


  .section-2 {
    padding-left: 15px;
    display: flex;
    width: 100%;
    flex: 0 1 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;

    &__item {
      width: calc(50% - 25px);
    }

    &__img {
      display: flex;
    }

    &__icon {
      flex: 0 0 40px;

      &--identic {
        width: 100%;
      }
    }

    &__title {
      margin: 30px 0 24px;

      &--identic {
        font-weight: 600;
        font-size: 25px;
        text-transform: capitalize;
        color:$sub-sub-title-color;
      }
    }
  }

}


// Channel -------------

.channel {
  padding: 105px 0 140px;
  background-color: $background-channel;

  &__header {
    text-align: center;

    &::after {
      content: " ";
      max-width: 132px;
      height: 3px;
      background-color: $hover-color;
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    max-width: 530px;
    text-align: center;
    margin: 30px auto 33px;
  }

  &__menu {
    margin-top: 90px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li{
        margin: 0 30px;

        &:first-child{
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &--link {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        color: $color-channel-menu;

        &:hover {
          transition: color $transition;
          color: $hover-color;
        }
      }
    }

  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    gap: 15px;
    justify-content: space-between;

    &--square {
      width: calc(25% - 15px);
      height: 290px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      a {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }
}


// Team ----------------

.team {
  padding-bottom: 108px;
  background-color: $background-team;

  &__header {
    position: relative;
    padding-bottom: 40px;

    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 132px;
      height: 3px;
      background-color: $hover-color;
      display: block;
    }

    p {
      max-width: 455px;
      margin-top: 35px;
    }
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 70px;

    &-1 {
      width: 26%;
    }

    &-2 {
      width: 74%;
      padding-top: 5px;
      padding-left: 62px;
    }
  }


  &__main {
    height: 455px;

    &--image {
      max-width: 100%;
      height: 100%;
  
      img{
        object-fit: cover;
        object-position: center center;
        max-width: 100%;
        height: 100%;
      }
      
      

      a {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__line-up {

    &--header {
      h4 {
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
        color: $sub-sub-title-color;
      }

      p {
        max-width: 640px;
        margin-top: 27px;
       
      }

      margin-bottom: 38px;
    }

    &--menu {
      margin-bottom: 58px;

      &-ul {
        display: flex;
        flex-wrap: wrap;

        li {
          font-style: italic;
          font-size: $button-fz;
          margin-right: 30px;

          a {
            color: $sub-sub-title-color;

            &:hover {
              transition: color $transition;
              color: $hover-color;
            }
          }


        }

        & li:last-of-type {
          margin-right: 0;
        }
      }
    }

    &--images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;

      div {
        width: calc(25% - 15px);
        position: relative;
        height: 214px;
        background-color: $background-line-up-team;

        img {
          object-fit: cover;
          object-position: center center;
          max-width: 100%;
          height: 100%;
          
        }

        display: flex;

        p {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 0;
        }

        

        &:hover {

          p {
            width: 100%;
            background-color: $hover-line-up;
            padding: 5px 0;
            font-size: $button-fz;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            align-self: flex-end;
            transition: $transition;

            a {
              display: inline-block;
              color: #ffffff;
              width: 100%;
              height: 100%;
            }
          }
        }

      }
    }
  }

}


// Subscribe ----------------
.subscribe {
  background-image: $background-image-subscribe;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;

  &__content {
    text-align: center;
  }

  &__header {
    color: #fdfcf8;
    margin-bottom: 60px;

    h2 {

      color: #fdfcf8;
      margin-bottom: 35px;
    }

    p {
      max-width: 590px;
      margin: 0 auto;
    }
  }

  &__parts-form {
    max-width: 757px;
    margin: 0 auto;
    display: flex;
    gap:22px;

    label {
      display: inline-block;
      flex-grow: 1;
    }

    input {
      display: inline-block;
      width: 100%;
      background-color: #fff;
      border-radius: 7px;
      padding: 30px 36px;
      font-size: 19px;
      max-height: 83px;

      &::placeholder {
        color: $placeholder-color;
        font-size: 16px;

      }

      &:focus {
        border: $focus-color;
        box-shadow: $shadow-form;
      }

    }


    .btn {
      max-height: 83px;
      text-transform: uppercase;
      background-color: $hover-color;
      border: 2px solid $hover-color;
      color: #fff;
      border-radius: 7px;
      display: inline-block;
      padding: 24px 55px;
     

      span {
        text-align: center;
        font-size: $button-fz;
        font-weight: bold;
        letter-spacing: 0.025em;
        line-height: 28px;
      }

      &:hover {
        background-color: #fff;
        color: $hover-color;
      }
      
      &:active {
        background-color: $active-color;
        color: #fff;
        border-color: #fff;
      }
      
      &:focus {
        border: $focus-color;
        box-shadow: $shadow-form;
      }
    }
  }
}


// Contact --------------
.contact {
  padding-top: 100px;
  width: 100%;
  overflow-x: hidden;

  &__header {
    padding-bottom: 56px;
    position: relative;


    &::after {
      content: " ";
      display: block;
      height: 3px;
      width: 132px;
      background-color: $hover-color;
      position: absolute;
      bottom: 0;
    }

    p {
      margin-top: 45px;
      max-width: 730px;
    }
  }

  &__section {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 100%;
      background-color: $background-contact-info;
      position: absolute;
      left:99%;
    }

    &-1 {
      max-width: 60%;
      padding-right: 15px;
      flex-grow: 1;
    }

    #form-id {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
      .form-id__enter{
        display: flex;
        flex-wrap: wrap;
        gap:52px;
      }
      

      label {
        flex-grow: 1;
        display: inline-block;
      }

      input {
        
        width: 100%;
        max-height: 69px;
        display: inline-block;
        background-color: #e5e5e5;
        border-radius: 7px;
        padding: 26px 48px;

        &::placeholder {
          color: $placeholder-color;
        }

        &:focus {
          border: $focus-color;
          box-shadow: $shadow-form;
        }
      }

      #comments {
        width: 100%;
        margin-top: 45px;
        max-height: 250px;
        border-radius: 7px;
        background-color: #e5e5e5;
        resize: none;
        padding: 36px 52px;

        &::placeholder {
          color: $placeholder-color;
        }

        &:focus {
          border: $focus-color;
          box-shadow: $shadow-form;
        }
      }

      .btn {
        max-height: 71px;
        margin-top: 45px;
        text-transform: uppercase;
        background-color: $hover-color;
        border: 2px solid $hover-color;
        color: #fff;
        border-radius: 7px;
        display: inline-block;
        padding: 17px 0;
        width: 100%;
        flex-grow: 1;

        span {
          text-align: center;
          font-size: $button-fz;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 34px;
        }

        &:hover {
          background-color: #fff;
          color: $hover-color;
        }

        &:active {
          background-color: $active-color;
          color: #fff;
          border-color: #fff;
        }

        &:focus {
          border: $focus-color;
          box-shadow: $shadow-form;
        }
      }
    }

    &-2 {
      padding-left: 90px;

      max-width: 40%;
      height: 488px;

      &--address {
        height: 100%;
        padding: 115px 40px 114px 68px;
        background-color: $background-contact-info;
        font-style: normal;
        color: $color-text-contact-info;

        h4 {
          font-weight: bold;
          font-size: 18px;
          line-height: 34px;
          text-transform: uppercase;
        }

        .address {
          margin: 37px 0 27px;
        }

        .phone {
          margin-top: 30px;
        }
      }

    }
  }

}


// Footer -------------
.footer {
  margin-top: 110px;
  background-color: $background-footer;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__copy {
    padding: 55px 0 40px;

    span {
      color: $copy-footer;
    }
  }

  &__social-networks {
    padding: 47px 0 31px;

    a {
      display: inline-block;
      margin-left: 18px;
    }

    & a:first-of-type {
      margin-left: 0;
    }

    img {
      min-width: 33px;
      min-height: 33px;
    }
  }
}


@import "./media.scss";